.circleimg {
	display: block;
	width: 100px;
	height: 100px;
	background: #E6E7ED;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-image: url(no.png);
	background-position:50% 50%;
	background-repeat:no-repeat;    
	display: inline-block;
}
